<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %>The Open Dashboard Project</title>
  <%= favicon_link_tag 'icon.ico' %>
	<meta name="description" content="An open source personal dashboard.">
	<meta name="keywords" content="dashboard, personal dashboard, ruby, rails, zumh, open source, open source projects, elijah wilson, elijah">
	<meta name="robot" content="index,follow">
	<meta name="author" content="Elijah Wilson">
	<meta name="language" content="English">
	<meta name="revisit-after" content="30">
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" %>
  <%= stylesheet_link_tag "normalize.css", "menu.css", "style.css", "weather-icons.min.css", "portlets.css", "stocks.css" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js',
'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js', 'tracking.min' %>
<%= yield :js %>
</body>
</html>
